In [14]:
import requests
import json
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import os

In [25]:
api1=requests.get('https://pharmanlp-177020.uc.r.appspot.com/api/1/StudyHack/ae/subject/list', verify=False)

In [26]:
api2=requests.get('https://pharmanlp-177020.uc.r.appspot.com/api/1/StudyHack/cm/subject/list', verify=False)

In [27]:
ae_str=json.loads(api1.text)

In [28]:
type(ae_str)

dict

In [29]:
cm_str1=json.loads(api2.text)

In [30]:
Sub_id_ae=pd.DataFrame(ae_str)
print(Sub_id_ae.head())
Sub_ID_cm=pd.DataFrame(cm_str1)
print(Sub_ID_cm.head())

    status    data                            request_id
0  success   76809  5d20a2fc-da99-4ca3-aabb-70d084815889
1  success  105792  5d20a2fc-da99-4ca3-aabb-70d084815889
2  success  117691  5d20a2fc-da99-4ca3-aabb-70d084815889
3  success  120205  5d20a2fc-da99-4ca3-aabb-70d084815889
4  success  130301  5d20a2fc-da99-4ca3-aabb-70d084815889
    status    data                            request_id
0  success   76809  2a6fbacd-d8b9-472e-9220-76b0ea1a5830
1  success  130301  2a6fbacd-d8b9-472e-9220-76b0ea1a5830
2  success  132645  2a6fbacd-d8b9-472e-9220-76b0ea1a5830
3  success  138700  2a6fbacd-d8b9-472e-9220-76b0ea1a5830
4  success  166621  2a6fbacd-d8b9-472e-9220-76b0ea1a5830

In [15]:
Sub_id_ae['data']

0         76809
1        105792
2        117691
3        120205
4        130301
         ...
723    17954820
724    17956076
725    18042999
726    18282353
727    18291148
Name: data, Length: 728, dtype: int64

In [31]:
c=requests.get('https://pharmanlp-177020.uc.r.appspot.com/api/1/StudyHack/ae/subject/105792/list', verify=False)
output3=json.loads(c.text)
Task1_ae=pd.DataFrame(output3)
Task1_ae

,status,data,request_id
0,success,"{'studyid': 'StudyHack', 'siteid': 5538, 'subj...",1326f0f0-478e-411f-9cfa-e48d2cdd8644
1,success,"{'studyid': 'StudyHack', 'siteid': 5538, 'subj...",1326f0f0-478e-411f-9cfa-e48d2cdd8644
2,success,"{'studyid': 'StudyHack', 'siteid': 5538, 'subj...",1326f0f0-478e-411f-9cfa-e48d2cdd8644
3,success,"{'studyid': 'StudyHack', 'siteid': 5538, 'subj...",1326f0f0-478e-411f-9cfa-e48d2cdd8644
4,success,"{'studyid': 'StudyHack', 'siteid': 5538, 'subj...",1326f0f0-478e-411f-9cfa-e48d2cdd8644
...,...,...,...
61,success,"{'studyid': 'StudyHack', 'siteid': 5538, 'subj...",1326f0f0-478e-411f-9cfa-e48d2cdd8644
62,success,"{'studyid': 'StudyHack', 'siteid': 5538, 'subj...",1326f0f0-478e-411f-9cfa-e48d2cdd8644
63,success,"{'studyid': 'StudyHack', 'siteid': 5538, 'subj...",1326f0f0-478e-411f-9cfa-e48d2cdd8644
64,success,"{'studyid': 'StudyHack', 'siteid': 5538, 'subj...",1326f0f0-478e-411f-9cfa-e48d2cdd8644
65,success,"{'studyid': 'StudyHack', 'siteid': 5538, 'subj...",1326f0f0-478e-411f-9cfa-e48d2cdd8644

In [65]:
ae_data=[]
for i in Sub_id_ae['data']:
    c1=requests.get(f'https://pharmanlp-177020.uc.r.appspot.com/api/1/StudyHack/ae/subject/{i}/list', verify=False)
    dct1=json.loads(c1.text)
    ae_data.append(dct1)
count=pd.DataFrame(ae_data)
count

,status,data,request_id
0,success,"[{'studyid': 'StudyHack', 'siteid': 5173, 'sub...",908bbc66-cbed-4cff-bee4-820562b88783
1,success,"[{'studyid': 'StudyHack', 'siteid': 5538, 'sub...",77306532-0777-4d30-a211-329163e17a13
2,success,"[{'studyid': 'StudyHack', 'siteid': 5160, 'sub...",968dd05c-83b6-4fec-a448-25d84966308c
3,success,"[{'studyid': 'StudyHack', 'siteid': 5160, 'sub...",19d717e1-1c3a-40d8-979f-506bd92d4262
4,success,"[{'studyid': 'StudyHack', 'siteid': 5535, 'sub...",cbb601e6-034d-43d6-ba74-22e8f7bbe277
...,...,...,...
723,success,"[{'studyid': 'StudyHack', 'siteid': 5045, 'sub...",a5f1c7f7-446a-489f-8598-e0f5de0dd085
724,success,"[{'studyid': 'StudyHack', 'siteid': 5045, 'sub...",cad18642-a604-4311-bc33-04f7dd25c32d
725,success,"[{'studyid': 'StudyHack', 'siteid': 5303, 'sub...",c3fc9b3d-f9bf-4e76-b8ba-d224b635957a
726,success,"[{'studyid': 'StudyHack', 'siteid': 5018, 'sub...",954f5e4b-9e02-46a6-8c14-387dfebbed4e
727,success,"[{'studyid': 'StudyHack', 'siteid': 5018, 'sub...",77c492a6-c343-446c-bb12-d27cc06f8ce0

In [41]:
ae_table=pd.DataFrame(count['data'])
ae_table

,studyid,siteid,subjid,subjectid,visitindex,visitnam,formname,formid,formidx,formindex,...,aeacn3_c,aeacn3,aeacn3_1_c,aeacn3_1,aerelnst_c,aerelnst,aerelnst_nd,aerelt,aeout_c,aeout
0,StudyHack,5018,50185008,18291148,1,AECM,AE202,38768,12,6.030000e+14,...,NaN,,6.0,NOT APPLICABLE,3.0,OTHER,,unknown,2,NOT RECOVERED/NOT RESOLVED
1,StudyHack,5018,50185008,18291148,1,AECM,AE202,38768,13,6.030000e+14,...,6.0,NOT APPLICABLE,NaN,,NaN,,,,3,RECOVERED/RESOLVED
2,StudyHack,5018,50185008,18291148,1,AECM,AE202,38768,17,6.030000e+14,...,6.0,NOT APPLICABLE,NaN,,NaN,,,,2,NOT RECOVERED/NOT RESOLVED
3,StudyHack,5018,50185008,18291148,1,AECM,AE202,38768,18,6.030000e+14,...,NaN,,6.0,NOT APPLICABLE,2.0,CONCOMITANT NON-DRUG TREATMENT,,,3,RECOVERED/RESOLVED
4,StudyHack,5018,50185008,18291148,1,AECM,AE202,38768,19,6.040000e+14,...,NaN,,6.0,NOT APPLICABLE,3.0,OTHER,,LEUKEMIA,3,RECOVERED/RESOLVED
5,StudyHack,5018,50185008,18291148,1,AECM,AE202,38768,3,6.020000e+14,...,6.0,NOT APPLICABLE,NaN,,NaN,,,,3,RECOVERED/RESOLVED
6,StudyHack,5018,50185008,18291148,1,AECM,AE202,38768,4,6.020000e+14,...,NaN,,2.0,DOSE NOT CHANGED,3.0,OTHER,,"LEUKEMIA, PARAPROCTITIS",3,RECOVERED/RESOLVED
7,StudyHack,5018,50185008,18291148,1,AECM,AE202,38768,5,6.020000e+14,...,2.0,DOSE NOT CHANGED,NaN,,NaN,,,,3,RECOVERED/RESOLVED
8,StudyHack,5018,50185008,18291148,1,AECM,AE202,38768,6,6.020000e+14,...,2.0,DOSE NOT CHANGED,NaN,,NaN,,,,3,RECOVERED/RESOLVED
9,StudyHack,5018,50185008,18291148,1,AECM,AE202,38768,7,6.020000e+14,...,NaN,,6.0,NOT APPLICABLE,NaN,,,,3,RECOVERED/RESOLVED
10,StudyHack,5018,50185008,18291148,1,AECM,AE202,38768,8,6.020000e+14,...,2.0,DOSE NOT CHANGED,NaN,,NaN,,,,3,RECOVERED/RESOLVED
11,StudyHack,5018,50185008,18291148,1,AECM,AE202,38768,9,6.020000e+14,...,6.0,NOT APPLICABLE,NaN,,NaN,,,,3,RECOVERED/RESOLVED
12,StudyHack,5018,50185008,18291148,1,AECM,AE202,38768,10,6.030000e+14,...,NaN,,2.0,DOSE NOT CHANGED,3.0,OTHER,,LEUKEMIA,3,RECOVERED/RESOLVED
13,StudyHack,5018,50185008,18291148,1,AECM,AE202,38768,11,6.030000e+14,...,6.0,NOT APPLICABLE,NaN,,NaN,,,,4,RECOVERED/RESOLVED WITH SEQUELAE
14,StudyHack,5018,50185008,18291148,1,AECM,AE202,38768,1,6.020000e+14,...,2.0,DOSE NOT CHANGED,NaN,,NaN,,,,2,NOT RECOVERED/NOT RESOLVED
15,StudyHack,5018,50185008,18291148,1,AECM,AE202,38768,2,6.020000e+14,...,2.0,DOSE NOT CHANGED,NaN,,NaN,,,,4,RECOVERED/RESOLVED WITH SEQUELAE
16,StudyHack,5018,50185008,18291148,1,AECM,AE202,38768,20,6.180000e+14,...,NaN,,6.0,NOT APPLICABLE,NaN,,,,2,NOT RECOVERED/NOT RESOLVED
17,StudyHack,5018,50185008,18291148,1,AECM,AE202,38768,21,6.180000e+14,...,6.0,NOT APPLICABLE,NaN,,NaN,,,,3,RECOVERED/RESOLVED
18,StudyHack,5018,50185008,18291148,1,AECM,AE202,38768,22,6.180000e+14,...,6.0,NOT APPLICABLE,NaN,,NaN,,,,3,RECOVERED/RESOLVED

In [64]:
cm_data=[]
for i in Sub_ID_cm['data']:
    d=requests.get(f'https://pharmanlp-177020.uc.r.appspot.com/api/1/StudyHack/cm/subject/{i}/list', verify=False)
    result_2=json.loads(d.text)
    cm_data.append(result_2)
cm_table=pd.DataFrame(cm_data)
cm_table

,status,data,request_id
0,success,"[{'studyid': 'StudyHack', 'siteid': 5173, 'sub...",551476aa-a942-4e6e-b8cf-feb10dd48402
1,success,"[{'studyid': 'StudyHack', 'siteid': 5535, 'sub...",aa8a8d85-381a-434c-8f51-6a52cedcbaa0
2,success,"[{'studyid': 'StudyHack', 'siteid': 5162, 'sub...",eb43c2c4-c92e-4172-aaeb-c2897a5520bd
3,success,"[{'studyid': 'StudyHack', 'siteid': 5086, 'sub...",0d896d77-34ef-4ec1-91d1-4e2de83eadc5
4,success,"[{'studyid': 'StudyHack', 'siteid': 5178, 'sub...",c80094aa-095b-4ae4-92d1-6692809e2b31
...,...,...,...
717,success,"[{'studyid': 'StudyHack', 'siteid': 5523, 'sub...",2b72a92b-478a-43f9-85d9-fa8b8da6be79
718,success,"[{'studyid': 'StudyHack', 'siteid': 5172, 'sub...",9d906fbe-6275-4afd-a6ba-417b3a0f3998
719,success,"[{'studyid': 'StudyHack', 'siteid': 5099, 'sub...",4ef58d72-8d8f-41bc-8b98-d11ab0544ba6
720,success,"[{'studyid': 'StudyHack', 'siteid': 5176, 'sub...",c6601f29-ae6a-402e-b4b6-8606f45361fe
721,success,"[{'studyid': 'StudyHack', 'siteid': 5184, 'sub...",29cd43b4-b2e0-4b40-b519-bc342f5fdc6f

In [ ]:
cm_list=list(cm_table['data'])
cm_list

In [62]:
def type1_check(ae_table, cm_table):
    first_list = []
    for cm_row in cm_table:
        for ae_row in ae_table:
            if cm_table in ae_table:
                
                payload = {}
                
                #payload['formname'] = cm_row['formidx']
                #payload['formid'] = "Fetch formid from cmrow"
                #payload['formidx'] = "Fetch formidx from cmrow"
                #payload['type'] = 'TYPE1'
                #payload['subjectid'] = "Fetch subjid from cmrow"
                first_list.append(payload)
                #first_list.to_csv('ae,cm_info_new.csv', sep = '\t')

    return first_list

In [63]:
a=pd.DataFrame(type1_check(ae_table,cm_table))
a

TypeError: unhashable type: 'DataFrame'